@model IEnumerable<PruebasWebNetCore.Web.Data.Entities.Color>

@{
    ViewData["Title"] = "Colores";
}

<h1>Colores </h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImagenUrl))
                {
                    <img src="@Url.Content(item.ImagenUrl)" alt="Image" style="width:150px;height:25px;max-width: 100%; " />
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"> <i class="fa fa-pencil"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fa fa-book"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"> <i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
