@model IEnumerable<PruebasWebNetCore.Web.Data.Entities.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTelefonos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDirecciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImagenUrl))
                {
                    <img src="@Url.Content(item.ImagenUrl)" alt="Image" style="width:150px;height:150px;max-width: 100%; " />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTelefonos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDirecciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
