@model PruebasWebNetCore.Web.Data.Entities.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de Pedido</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoPedido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadPedido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadExtruir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadExtruir)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Nombre)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fa fa-pencil"></i> Editar Pedido</a>
    <a asp-area="" asp-controller="InformacionesFases"  asp-action="InformacionFasePorPedido" asp-route-id="@Model.Id" class="btn btn-info"><i class="fa fa-pencil"></i> Fases Del Pedido</a>
</p>

<h4>Producto</h4>

<table class="table table-hover table-responsive-xl table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producto.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.Espesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.Ancho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.Largo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.TipoAcabado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.TipoCorte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.Color.Nombre)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Producto.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Producto.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Producto.Espesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Producto.Ancho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Producto.Largo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Producto.TipoAcabado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Producto.TipoCorte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Producto.Color.Nombre)
            </td>
        </tr>
    </tbody>
</table>


@if (Model.Impresion == null)
{
    <p>
        <a asp-action="AddImpresion" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-plus"></i> Add Impresion</a>
    </p>
}
else
{
    <h4>Impresion</h4>
    <table class="table table-hover table-responsive-xl table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Impresion.CarasImpresas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Impresion.Texto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Impresion.Color.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Impresion.DimensionRodillo)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Impresion.CarasImpresas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Impresion.Texto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Impresion.Color.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Impresion.DimensionRodillo)
                </td>
                <td id="@Model.Impresion.Id" align="right">
                    <a asp-action="EditTelefono" asp-route-id="@Model.Impresion.Id" class="btn btn-warning"><i class="fa fa-pencil"></i> </a>
                    <a asp-action="DeleteTelefono" asp-route-id="@Model.Impresion.Id" class="btn btn-danger" id="btnDelete"><i class="fa fa-trash"></i> </a>
                </td>
            </tr>
        </tbody>
    </table>
}

<p>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-chevron-circle-left "> </i> Back to List</a>
</p>
