@model IEnumerable<PruebasWebNetCore.Web.Data.Entities.Pedido>

@{
    ViewData["Title"] = "PedidosDisponibles";
}

<h1>PedidosDisponibles</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstadoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadExtruir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadExtruir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                <a asp-area="" asp-controller="InformacionesFases" asp-action="Create" asp-route-id="@item.Id"> Seleccionar</a> |
            </td>
        </tr>
}
    </tbody>
</table>
