@model PruebasWebNetCore.Web.Data.Entities.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ancho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Largo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Largo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Espesor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Espesor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAcabado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoAcabado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCorte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoCorte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
