@model IEnumerable<PruebasWebNetCore.Web.Data.Entities.Producto>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<h1>Productos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar Nuevo</a>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-responsive-xl table-striped" id="ColoresTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Codigo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ancho)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Largo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Espesor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Material)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoAcabado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoCorte)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Color)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Codigo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ancho)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Largo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Espesor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Material)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoAcabado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoCorte)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ColorId)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"> <i class="fa fa-pencil"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fa fa-book"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"> <i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#ColoresTable').DataTable();
        });
    </script>
}